{% extends 'navbar.html' %}
{% block body %}

<div class="container" style="padding-top: 5%;">
 <div class="page-header">
	 <h1>{{name}}'s Diary - {{day}}</h1>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%">
            <div class="panel-heading">
				<h3 class="panel-title">Breakfast</h3>
            </div>
            <div class="panel-body">
			<form onsubmit="setTimeout(function () { window.location.reload(); }, 10)" method="POST">
  			<select name="userFoods">
			{% for food in foodList %}
				<option value="{{food['_id']}},breakfast">{{food['foodName']}}</option>
			{% endfor %}
  			</select>
		<button type="submit" class="btn btn-default">Add</button>
		</form>
		<table class="table table-striped">
			<thead>
              <tr>
                <th>Name</th>
                <th>Carbs</th>
                <th>Fiber</th>
                <th>Calories</th>
              </tr>
            </thead>
            <tbody>
			{% for food in breakfastList %}
              <tr>
				  <td>{{food['foodName']}}</td>
				  <td>{{food['foodCarbs']}}</td>
				  <td>{{food['foodFiber']}}</td>
				  <td>{{food['foodCalories']}}</td>
              </tr>
			{% endfor %}
            </tbody>
          </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%;">
            <div class="panel-heading">
              <h3 class="panel-title">Lunch</h3>
            </div>
		<div class="panel-body">
			<form onsubmit="setTimeout(function () { window.location.reload(); }, 10)" method="POST">
  			<select name="userFoods">
			{% for food in foodList %}
				<option value="{{food['_id']}},lunch">{{food['foodName']}}</option>
			{% endfor %}
  			</select>
		<button type="submit" class="btn btn-default">Add</button>
		</form>
		<table class="table table-striped">
			<thead>
              <tr>
                <th>Name</th>
                <th>Carbs</th>
                <th>Fiber</th>
                <th>Calories</th>
              </tr>
            </thead>
            <tbody>
			{% for food in lunchList %}
              <tr>
				  <td>{{food['foodName']}}</td>
				  <td>{{food['foodCarbs']}}</td>
				  <td>{{food['foodFiber']}}</td>
				  <td>{{food['foodCalories']}}</td>
              </tr>
			{% endfor %}
            </tbody>
          </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%;">
            <div class="panel-heading">
              <h3 class="panel-title">Dinner</h3>
            </div>
		<div class="panel-body">
			<form onsubmit="setTimeout(function () { window.location.reload(); }, 10)" method="POST">
  			<select name="userFoods">
			{% for food in foodList %}
				<option value="{{food['_id']}},dinner">{{food['foodName']}}</option>
			{% endfor %}
  			</select>
		<button type="submit" class="btn btn-default">Add</button>
		</form>
		<table class="table table-striped">
			<thead>
              <tr>
                <th>Name</th>
                <th>Carbs</th>
                <th>Fiber</th>
                <th>Calories</th>
              </tr>
            </thead>
            <tbody>
			{% for food in dinnerList %}
              <tr>
				  <td>{{food['foodName']}}</td>
				  <td>{{food['foodCarbs']}}</td>
				  <td>{{food['foodFiber']}}</td>
				  <td>{{food['foodCalories']}}</td>
              </tr>
			{% endfor %}
            </tbody>
          </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%;">
            <div class="panel-heading">
              <h3 class="panel-title">Snack</h3>
            </div>
		<div class="panel-body">
			<form onsubmit="setTimeout(function () { window.location.reload(); }, 10)" method="POST">
  			<select name="userFoods">
			{% for food in foodList %}
				<option value="{{food['_id']}},snack">{{food['foodName']}}</option>
			{% endfor %}
  			</select>
		<button type="submit" class="btn btn-default">Add</button>
		</form>
		<table class="table table-striped">
			<thead>
              <tr>
                <th>Name</th>
                <th>Carbs</th>
                <th>Fiber</th>
                <th>Calories</th>
              </tr>
            </thead>
            <tbody>
			{% for food in snackList %}
              <tr>
				  <td>{{food['foodName']}}</td>
				  <td>{{food['foodCarbs']}}</td>
				  <td>{{food['foodFiber']}}</td>
				  <td>{{food['foodCalories']}}</td>
              </tr>
			{% endfor %}
            </tbody>
          </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

	<table class="table table-striped" style="width: 79%;">
	<thead>
              <tr>
                <th></th>
                <th>Carbs</th>
                <th>Fiber</th>
                <th>Calories</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total</td>
				<td>{{totalCarbs}}</td>
                <td>{{totalFiber}}</td>
                <td>{{totalCalories}}</td>
              </tr>
              <tr>
                <td>Goal</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
	<p>
	<br></br>
	<br></br>
	<br></br>
	</p>
</div>

{% endblock %}
