{% extends 'navbar.html' %}
{% block body %}

<div class="container" style="padding-top: 5%;">
 <div class="page-header">
        <h1>Diary</h1>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%">
            <div class="panel-heading">
              <h3 class="panel-title">Breakfast</h3>
            </div>
            <div class="panel-body">
			<form>
  			<select name="cars">
    			<option value="volvo">Option</option>
    			<option value="saab">Option</option>
    			<option value="fiat">Option</option>
    			<option value="audi">Option</option>
  			</select>
		<button type="button" class="btn btn-default">Add</button>
		</form>
		<table class="table table-striped">
			<thead>
              <tr>
                <th>Name</th>
                <th>Carbs</th>
                <th>Fiber</th>
                <th>Calories</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Some food</td>
                <td>Some carbs</td>
                <td>Some fiber</td>
                <td>Some calories</td>
              </tr>
              <tr>
                <td>food</td>
                <td>carbs</td>
                <td>fiber</td>
                <td>calc</td>
              </tr>
              <tr>
                <td>food</td>
                <td>carbs</td>
                <td>fiber</td>
                <td>cals</td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%;">
            <div class="panel-heading">
              <h3 class="panel-title">Lunch</h3>
            </div>
		<div class="panel-body">
			<form>
  			<select name="cars">
    			<option value="volvo">Option</option>
    			<option value="saab">Option</option>
    			<option value="fiat">Option</option>
    			<option value="audi">Option</option>
  			</select>
		<button type="button" class="btn btn-default">Add</button>
		</form>
		<table class="table table-striped">
			<thead>
              <tr>
                <th>Name</th>
                <th>Carbs</th>
                <th>Fiber</th>
                <th>Calories</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Some food</td>
                <td>Some carbs</td>
                <td>Some fiber</td>
                <td>Some calories</td>
              </tr>
              <tr>
                <td>food</td>
                <td>carbs</td>
                <td>fiber</td>
                <td>calc</td>
              </tr>
              <tr>
                <td>food</td>
                <td>carbs</td>
                <td>fiber</td>
                <td>cals</td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%;">
            <div class="panel-heading">
              <h3 class="panel-title">Dinner</h3>
            </div>
		<div class="panel-body">
			<form>
  			<select name="cars">
    			<option value="volvo">Option</option>
    			<option value="saab">Option</option>
    			<option value="fiat">Option</option>
    			<option value="audi">Option</option>
  			</select>
		<button type="button" class="btn btn-default">Add</button>
		</form>
		<table class="table table-striped">
			<thead>
              <tr>
                <th>Name</th>
                <th>Carbs</th>
                <th>Fiber</th>
                <th>Calories</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Some food</td>
                <td>Some carbs</td>
                <td>Some fiber</td>
                <td>Some calories</td>
              </tr>
              <tr>
                <td>food</td>
                <td>carbs</td>
                <td>fiber</td>
                <td>calc</td>
              </tr>
              <tr>
                <td>food</td>
                <td>carbs</td>
                <td>fiber</td>
                <td>cals</td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%;">
            <div class="panel-heading">
              <h3 class="panel-title">Snack</h3>
            </div>
		<div class="panel-body">
			<form>
  			<select name="cars">
    			<option value="volvo">Option</option>
    			<option value="saab">Option</option>
    			<option value="fiat">Option</option>
    			<option value="audi">Option</option>
  			</select>
		<button type="button" class="btn btn-default">Add</button>
		</form>
		<table class="table table-striped">
			<thead>
              <tr>
                <th>Name</th>
                <th>Carbs</th>
                <th>Fiber</th>
                <th>Calories</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Some food</td>
                <td>Some carbs</td>
                <td>Some fiber</td>
                <td>Some calories</td>
              </tr>
              <tr>
                <td>food</td>
                <td>carbs</td>
                <td>fiber</td>
                <td>calc</td>
              </tr>
              <tr>
                <td>food</td>
                <td>carbs</td>
                <td>fiber</td>
                <td>cals</td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
</div>

{% endblock %}
