{% extends 'navbar.html' %}
{% block body %}

<div class="container" style="padding-top: 5%;">
 <div class="page-header">
	 <h1>{{name}}'s Diary - {{day}}</h1>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%">
            <div class="panel-heading">
				<h3 class="panel-title">Breakfast</h3>
            </div>
            <div class="panel-body">
			<form method="POST">
  			<select name="userFoods">
			{% for food in foodList %}
				<option value="{{food['_id']}},breakfast">{{food['foodName']}}</option>
			{% endfor %}
  			</select>
		<button type="submit" class="btn btn-default">Add</button>
		</form>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%;">
            <div class="panel-heading">
              <h3 class="panel-title">Lunch</h3>
            </div>
		<div class="panel-body">
			<form method="POST">
  			<select name="userFoods">
			{% for food in foodList %}
				<option value="{{food['_id']}},lunch">{{food['foodName']}}</option>
			{% endfor %}
  			</select>
		<button type="submit" class="btn btn-default">Add</button>
		</form>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%;">
            <div class="panel-heading">
              <h3 class="panel-title">Dinner</h3>
            </div>
		<div class="panel-body">
			<form method="POST">
  			<select name="userFoods">
			{% for food in foodList %}
				<option value="{{food['_id']}},dinner">{{food['foodName']}}</option>
			{% endfor %}
  			</select>
		<button type="submit" class="btn btn-default">Add</button>
		</form>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success" style="width:250%;">
            <div class="panel-heading">
              <h3 class="panel-title">Snack</h3>
            </div>
		<div class="panel-body">
			<form method="POST">
  			<select name="userFoods">
			{% for food in foodList %}
				<option value="{{food['_id']}},snack">{{food['foodName']}}</option>
			{% endfor %}
  			</select>
		<button type="submit" class="btn btn-default">Add</button>
		</form>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
</div>

{% endblock %}
