{% extends 'navbar.html' %}
{% block body %}

<div class="container theme-showcase" role="main">
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="margin-top: 10%;">
        <h1>Welcome, {{name}}</h1>
      </div>
</div>

<div class="container marketing" style="padding-top:5%; text-align:center;" >
<!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
        <a href="/createFood"><img class="img-circle" src="https://image.freepik.com/free-icon/fork-and-knife-cutlery-circle-interface-symbol-for-restaurant_318-61359.png" alt="Generic placeholder image" width="140" height="140"></a>
          <h2>Create Food</h2>
          <p>Customize your food so the information is accurate and is only things you actually eat.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4"> 
	 <img class="img-circle" src="https://image.freepik.com/free-icon/open-book-outline-variant-inside-a-circle_318-53472.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Edit Diary</h2>
          <p>Log your meals so you can track your goals for carbs or calories.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <a href="/about">  <img class="img-circle" src="http://cdn.mysitemyway.com/icons-watermarks/simple-black/raphael/raphael_question-mark-circle/raphael_question-mark-circle_simple-black_512x512.png" alt="Generic placeholder image" width="140" height="140"> </a>
	 <h2>About</h2>
          <p>Learn why Carb Count exists and how it can help you manage your health.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

{% endblock %}
