{% extends 'layout.html' %}
{% block content %}
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <div class="container">

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Email address</label>
        <input name="username" class="form-control" placeholder="Username" required autofocus value="{{request.form.username }}">
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required value="{{request.form.password }}">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
      </form>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{error}}
      {% endif %}
    </div> <!-- /container -->
{% endblock %}
